// Break Points:
$screen-sm-min: 576px

@mixin sm()
  @media screen and (max-width: $screen-sm-min)

// Colors:
$background-color: #131417

// declare your variables for color
$color-secondary: #444857
$color-success: #47cf73
$color-yellow: #ffdd40
$color-primary: #0ebeff

// declare hero-body-card of color
$highlight-yellow: #e1ca72
$highlight-primary: #7a99ad
$highlight-success: #74b087
$highlight-orange: #a88038
$highlight-purple: #9f8198

// Small tablets (portrait view)
$screen-md-min: 768px

// Tablets and small desktops
$screen-lg-min: 992px

// Large tablets and desktops
$screen-xl-min: 1200px
