// Colors:
$background-color: #131417

// declare your variables for color
$color-secondary: #444857
$color-primary: #47cf73
$color-yellow: #ffdd40
$color-accent: #0ebeff

// declare hero-body-card of color
$highlight-yellow: #e1ca72
$highlight-primary: #7a99ad
$highlight-accent: #74b087
$highlight-orange: #a88038
$highlight-purple: #9f8198

$screen-sm-min: 576px
