html {
  font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif;
  line-height: 1.5;
  font-size: 15px;
  font-weight: 400;
}

body {
  padding: 0;
  margin: 0;
  background: #131417;
}

*, *:before, *:after {
  box-sizing: border-box;
  color: #FFFFFF;
}

ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.l-flex {
  display: flex;
}

.l-align-center {
  align-items: center;
}

.l-flex-wrap {
  flex-wrap: wrap;
}

.l-sidebar {
  min-width: 188px;
}

.l-header {
  margin: 8px;
}

.l-section {
  margin: 32px 0;
}

.badge {
  margin-left: 5px;
  color: black;
  background-color: #ffdd40;
  border-radius: 4px;
  padding: 2px 4px;
  font-size: 10px;
}

.btn {
  display: inline-block;
  border: 3px solid grey;
  border-radius: 4px;
  padding: 8px 16px;
  text-align: center;
}
.btn:hover {
  opacity: 0.4;
  curosr: pointer;
}

.button-logo {
  margin: 0 16px;
  border: 3px solid transparent;
  background-image: linear-gradient(115deg, #4fcf70, #fad648, #a767e5, #12bcfe, #44ce7b);
  width: 148px;
  padding: 0;
}

.button-logo-text {
  padding: 8px;
  background: black;
  width: 140px;
  display: block;
}

.header-signup-btn {
  background: #47cf73;
  color: black;
  padding: 10px;
  margin-right: 5px;
  border: 1px solid transparent;
}

.header-login-btn {
  background: #444857;
  color: white;
  padding: 10px;
  border: 1px solid transparent;
}

.hero-body-text-btn {
  background: #47cf73;
  border: 1px solid transparent;
  color: black;
}

.card-btn {
  background: #444857;
  border: 0;
}

.features {
  justify-content: center;
}

.card {
  height: 340px;
}

.feature-card {
  background: #2c303a;
  width: 360px;
  border-radius: 6px;
  padding: 2rem;
  margin: 15px;
}

.card-icon {
  background: black;
  position: relative;
  left: 16px;
  top: 32px;
  hieght: 64px;
  width: 64px;
  border-radius: 6px;
  text-align: center;
}

.card-icon .fa {
  font-size: 48px;
  position: relative;
  top: 8px;
}

.card-description p {
  color: #b7bbc8;
}

.card-btn {
  margin: 16px 0;
}

.product-item-row {
  justify-content: center;
}

.product-item {
  background: #2c303a;
  margin: 15px;
  width: 360px;
  height: 330px;
}

.product-message {
  padding: 16px;
}

.product-message-body {
  color: #b7bbc8;
  margin-bottom: 16px;
}

.product-item-card {
  border-radius: 4px;
  background: #2c303a;
  transition: 0.2s;
}

.product-item-card-image {
  width: 350px;
  border-radius: 4px;
  margin: auto;
  padding: 8px;
}

.product-item-card-image img {
  width: 100%;
}

.product-card-body-body {
  padding: 16px;
  padding-top: 0px;
}

.product-card-body-avator {
  width: 40px;
  height: 40px;
}

.product-card-body-avator img {
  width: 100%;
  border-radius: 4px;
}

.product-card-body-title-text, .text-weak {
  margin: 0;
  margin-left: 15px;
}

.product-item-card-footer {
  padding: 8px 16px;
}

.product-item-card-footer-card {
  background: black;
  padding: 2px 4px;
  border-radius: 4px;
  margin-right: 4px;
}

.product-item-card:hover {
  transform: scale(1.05);
  opacity: 0.4;
  cursor: pointer;
}

.product-item-footer {
  justify-content: center;
}

.highlight-beige {
  color: #e1ca72;
}

.highlight-blue {
  color: #7a99ad;
}

.highlight-green {
  color: #74b087;
}

.highlight-orange {
  color: #a88038;
}

.highlight-purple {
  color: #9f8198;
}

.hero-body-cards {
  width: 50%;
  background-clip: blue;
}

.hero-body-card-background {
  margin: 16px auto;
  border-radius: 6px;
  width: 495px;
  height: 410px;
  background: linear-gradient(109.61deg, #4c4f5a 4.26%, #202125 84.84%);
}

.hero-body-card-header {
  padding: 4px 8px;
  justify-content: space-between;
}

.hero-body-card {
  width: 300px;
  height: 150px;
  background-color: #1d1e22;
  padding: 8px;
  padding-top: 0px;
}

.card-title-text {
  margin: 0;
  margin-left: 8px;
}

.hero-body-card {
  margin-bottom: 6px;
}

.hero-body-card p {
  margin: 0;
}

.hero-body-card-html {
  position: relative;
  left: 160px;
  bottom: 20px;
  border-radius: 4px;
}

.hero-body-card-scss {
  position: relative;
  left: 220px;
  bottom: 20px;
  border-radius: 4px;
}

.hero-body-card-js {
  position: relative;
  left: 160px;
  bottom: 20px;
  border-radius: 4px;
}

.ml-20 {
  margin-left: 20px !important;
}

.ml-40 {
  margin-left: 40px !important;
}

.cursor {
  animation: blink 1s infinite;
}

.footer {
  padding: 32px;
  background: black;
  align-items: center;
  justify-content: space-between;
}

.footer-right-list {
  align-items: center;
  height: 30px;
}

.footer-right-list li {
  margin-right: 10px;
  color: #b7bbc8;
}

.footer-right-list h4 {
  margin-right: 10px;
}

.footer-logo {
  font-size: 2rem;
}

.footer-right-text p {
  color: #b7bbc8;
}

.hero {
  margin: 32px;
}

.hero-body-left {
  width: 50%;
  padding: 32px;
}

.hero-body-right {
  width: 50%;
}

.hero-body-logo {
  font-size: 36px;
}

.hero-body-title {
  font-weight: 900;
  font-size: 38px;
  margin: 0;
}

.hero-body-text {
  font-size: 1.1rem;
}

.header-btns {
  margin: 8px 8px 0 5px;
  width: 20%;
}

.codepen-logo {
  text-align: center;
}

.search-form {
  width: 80%;
  background: #252830;
  padding: 8px;
  border-radius: 4px;
}

.search-form i {
  font-size: 20px;
}

.search-form-input {
  width: 100%;
  margin-right: 16px;
  font-size: 20px;
  font-weight: bold;
  background: #252830;
  border: 0;
}

::placeholder {
  padding-left: 20px;
}

.sidebar {
  background: #1F1F26;
}

.start-coding {
  text-align: center;
}

.start-coding-text {
  font-size: 11px;
  margin-bottom: 3px;
}

.sidebar-menu-lists {
  padding-left: 16px;
}

.sidebar-menu-list {
  margin-top: 20px;
}

.sidebar-menu-list a {
  display: block;
}

.sidebar-menu-list a:hover {
  background: black;
}

.sidebar-menu-list-title {
  margin: -8px 0 2px 0;
  text-align: left;
}

.warning {
  color: #ffdd40;
}

.primary {
  color: #47cf73;
}

.accent {
  color: #0ebeff;
}

.weak {
  color: #b7bbc8;
}

/*# sourceMappingURL=style.css.map */
