/* Error: Undefined mixin.
 *   ,
 * 4 | /   @include sm
 * 5 | \     margin-right: 100000px
 *   '
 *   stylesheets/sass/modules/footer.sass 4:3  @use
 *   stylesheets/sass/index.sass 10:1          root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a   \2577 \a 4 \2502  \250c    @include sm\a 5 \2502  \2514      margin-right: 100000px\a   \2575 \a   stylesheets/sass/modules/footer.sass 4:3  @use\a   stylesheets/sass/index.sass 10:1          root stylesheet";
}
