@use '../variable' as v
.features
  justify-content: center

.card
  height: 340px

.feature-card
  background: #2c303a
  width: 360px
  border-radius: 6px
  padding: 2rem
  margin: 15px

.card-icon
  background: black
  position: relative
  left: 16px
  top: 32px
  hieght: 64px
  width: 64px
  border-radius: 6px
  text-align: center

.card-icon .fa
  font-size: 48px
  position: relative
  top: 8px

.card-description p
  color: #b7bbc8

.card-btn
  margin: 16px 0