@use '../variable' as v
@use '../mixin' as m

.highlight-yellow
  color: v.$highlight-yellow

.highlight-primary
  color: v.$highlight-primary

.highlight-accent
  color: v.$highlight-accent

.highlight-orange
  color: v.$highlight-orange

.highlight-purple
  color: v.$highlight-purple

.hero-body-cards
  width: 50%
  background-clip: blue
  @include m.sm
    width: 100%

.hero-body-card-background
  margin: 16px auto
  border-radius: 6px
  width: 495px
  height: 410px
  background: linear-gradient(109.61deg, #4c4f5a 4.26%, #202125 84.84%)
  @include m.sm
    width: 100%

.hero-body-card-header
  justify-content: space-between
  padding: 4px 0px

.hero-body-card
  width: 300px
  height: 140px
  background-color: #1d1e22
  padding: 8px
  padding-top: 0px
  font-size: 13px
  margin-bottom: 8px

.hero-body-card-html
  position: relative
  left: 160px
  bottom: 20px
  border-radius: 4px
  @include m.sm
    left: 120px

.hero-body-card-scss
  position: relative
  left: 220px
  bottom: 20px
  border-radius: 4px
  @include m.sm
    left: 160px

.hero-body-card-js
  position: relative
  left: 160px
  bottom: 20px
  border-radius: 4px
  @include m.sm
    left: 120px

.hero-body-card p
  margin: 0

.hero-body-card-title
  color: v.$color-secondary
  .fa:before
    color: #b7bbc8

.card-title-text
  margin: 0
  margin-left: 8px

.ml-30
  margin-left: 30px !important

.ml-60
  margin-left: 60px !important

.cursor
  animation: blink 1s infinite

@keyframes blink
  0%, 100%
    opacity: 100
  50%
    opacity: 0

.fa-chevron-down:before
  color: #b7bbc8
