@use '../variable' as v
.highlight-beige
  color: v.$highlight-beige

.highlight-blue
  color: v.$highlight-blue

.highlight-green
  color: v.$highlight-green

.highlight-orange
  color: v.$highlight-orange

.highlight-purple
  color: v.$highlight-purple

.hero-body-cards
  width: 50%
  background-clip: blue

.hero-body-card-background
  margin: 16px auto
  border-radius: 6px
  width: 495px
  height: 410px
  background: linear-gradient(109.61deg, #4c4f5a 4.26%, #202125 84.84%)

.hero-body-card-header
  padding: 4px 8px
  justify-content: space-between

.hero-body-card
  width: 300px
  height: 150px
  background-color: #1d1e22
  padding: 8px
  padding-top: 0px

.card-title-text
  margin: 0
  margin-left: 8px

.hero-body-card
  margin-bottom: 6px

.hero-body-card p
  margin: 0

.hero-body-card-html
  position: relative
  left: 160px
  bottom: 20px
  border-radius: 4px

.hero-body-card-scss
  position: relative
  left: 220px
  bottom: 20px
  border-radius: 4px

.hero-body-card-js
  position: relative
  left: 160px
  bottom: 20px
  border-radius: 4px

.ml-20
  margin-left: 20px !important

.ml-40
  margin-left: 40px !important

.cursor
  animation: blink 1s infinite