@use '../variable' as v
.footer-prev
  margin-right: 3px
  @include sm
    margin-right: 100000px

.footer
  padding: 32px
  background: black
  align-items: center
  justify-content: space-between

.footer-right-list
  align-items: center
  height: 28px

.footer-right-list li
  margin-right: 17px
  color: #b7bbc8

.footer-right-list h4
  margin-right: 16px

.footer-logo
  font-size: 2rem

.footer-right-text p
  color: #b7bbc8
