@use '../variable' as v
.footer-prev
  margin-right: 3px

.footer
  padding: 32px
  background: black
  align-items: center
  justify-content: space-between

.footer-right-list
  align-items: center
  height: 28px

.footer-right-list li
  margin-right: 17px
  color: v.$color-sub-text

.footer-right-list h4
  margin-right: 15px

.footer-logo
  font-size: 2rem
  margin: 0
  font-weight: normal
.footer-right-text p
  color: v.$color-sub-text
