.search-form
  width: 80%
  background: #252830
  padding: 8px
  border-radius: 4px

.search-form i
  font-size: 20px

.search-form-input
  width: 100%
  margin-right: 16px
  font-size: 20px
  font-weight: bold
  background: #252830
  border: 0

::placeholder
  padding-left: 20px