@use "../variable" as v
.sidebar
  background: #1F1F26
.start-coding
  text-align: center

.start-coding-text
  font-size: 11px
  margin-bottom: 3px

.sidebar-menu-lists
  padding-left: 16px

.sidebar-menu-list
  margin-top: 20px

.sidebar-menu-list a
  display: block

.sidebar-menu-list a:hover
  background: black

.sidebar-menu-list-title
  margin: -8px 0 2px 0
  text-align: left